p {
  font-style: italic;

  font-weight: 700;

  text-decoration: 5px wavy overline blue;

  text-transform: uppercase;

}


html{
  font-size: 14px;
}
div {
  font-size: 30px;
}

p {
  text-shadow: 3px, 3px, blue;
}