body { margin: 36px; }
button {
  all: unset;
  margin-bottom: 2em;
  padding: 0 2em;
  height: 64px;
  line-height: 64px;
  font-size: 1.2em;
  color: white;
  background-color: tomato;
  border-radius: 8px;
  cursor: pointer;
}
#loading {
  position: relative;
  width: 600px;
  height: 40px;
  background-color: lightblue;
  border-radius: 20px;
  overflow: hidden;
}
#loading > div {
  display: flex;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#loading > div > div {
  flex-grow: 1;
}
#loading > div > div:nth-child(odd) {
  background-color: dodgerblue;
}

._1:hover {
  background-color: darkorchid;
  border-radius: 80px;
  transition: all 850ms;
}

._2:hover {
  animation-name: pop;
  animation-duration: 150ms;
}

@keyframes pop {
  /* 시작 */
  from {
    transform: scale(1);
  }

  /* 중간과정 추가 */
  99%{
    transform: scale(1.05);
  }

  /* 끝 */
  to {
    transform: scale(1);
  }
}

#loading > div {
  transform: skewx(-20deg);
  animation: move-right 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move-right {
  from{
    left: -600px
  }
  to {
    left: 0;
  }
}