.header {
  display: flex;
  position: sticky;

  /* 스크롤업되는 컨텐츠 위로 올라오도록 */
  z-index: 2;

  /* 맨 위에 붙어있어야 하니까 top을 0으로 줌 */
  top: 0;
  height: var(--height-toolbar);

  /* 양 끝에 세우고 동일하게 배치 */
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main);

  color: white;
}


/* 왼쪽 링크(a태그) */
.header__homelink {
  display: inline-block;

  /* 높이와 패딩을 준 이유: 딱 로고뿐만 아니라 클릭 범위를 넓혀주기 위해 */
  padding: 0 24px;
  height: var(--height-toolbar);

  /* 이미지 요소가 가운데에 배치되기 위해 */
  line-height: var(--height-toolbar);
  cursor: pointer;
}

/* 왼쪽 로고 */
.header__logo {
  height: 48px;
  vertical-align: middle;
  margin-bottom: 4px;
}

.header__nav-item {
  /* 글씨 크기 */
  font-size: var(--font-size-larger);
}

.header__nav-item a {
  /* 메뉴 네비바 클릭 영역 확대 */
  display: inline-block;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
}

/* 모바일 */
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

   /* 체크박스 인풋을 버튼으로 커스터마이즈 */
   .header__menu-btn {

    /* 브라우저 기본 체크박스 속성값을 모두 없앰 */
    all: unset;

    display: block;
    /* 이미지 클릭 범위 조절 */
    width: var(--height-toolbar);
    height: var(--height-toolbar);
    background-image: url(../images/menu-button.svg);
    /* 이미지 크기 조절 */
    background-size: 50%;
    /* 반복 안함 */
    background-repeat: no-repeat;
    /* 왼쪽위가 아닌 중앙에 배치 */
    background-position: center;
  }

  /* 체크 되었을 때 색깔 */
  .header__menu-btn:checked {
    background-color: var(--color-dark);
  }

  
  .header__menu-btn:checked + .header__nav {
    /* header의 sticky 물려받음 */
    display: inherit;
    /* absolute: static이 아닌 첫 부모 요소 기준 */
    position: relative;
    /* 위에서 상단바만큼 내려옴 */
    top: var(--height-toolbar);
    /* 오른쪽에 붙여줌 */
    right: 0;

    background-color: var(--color-dark);
    padding-bottom: 1em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }


  .header__nav-item {
    width: 100vw;
    text-align: center;
  }
  
  .header__nav-item a {
    width: 100vw;
  }

  .header__nav-item:not(:last-child) {
    /* 모바일 메뉴 바 구분 선 */
    border-bottom: 2px solid rgba(255, 255, 255, 0.06);
  }
}


/* 데스크톱 */
@media (min-width: 769px) {
  .header__nav-item {
    display: inline-block;
    position: relative;
  }

  /* 맨 끝에 여유 공백값 줌 */
  .header__nav-item:last-child {
    margin-right: 1.6em;
  }

  /* 메뉴 네비바끼리 공간을 띄움 */
  .header__nav-item a {
    padding: 0 0.8em;
  }

  /* 네비게이션 롤오버 효과 */
  /* .header__nav-item 의 자식 */
  .header__nav-item::after {
    content: '';
    position: absolute;
    /* 맨 밑에서 시작함 */
    bottom: 0px; 
    /* 왼쪽에서부터 50% */
    left: 50%;
    width: 0;
    height: 0;
    background-color: white;
    /* 속도 조절 */
    transition: all 350ms;
  }

  /* 마우스를 올렸을 때 */
  .header__nav-item:hover::after {
    left: 0;
    width: 100%;
    height: 8px;
  }

  /* 체크박스 안보이기 */
  .header__menu-btn {
    display: none;
  }
}