body {
  display: flex;
  background-color: red;
  margin: 0;
}

.color_name {
  background-color: rgb(44, 44, 44);
  color: white;
  /* display: inline-block; */
  align-items: center;
}

.color {
  color: rgb(127, 157, 255);
}
