body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

.title {
  font-size: 60px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

button {
  margin-right: 10px;
  background-color: aliceblue;
  border-radius: px;
  padding: 6px 12px 6px 12px;
  border-width: 3px;
}

.count {
  color: green;
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 20px;
}
